# お名前.com RSプラン用 リバースプロキシ設定
# このファイルをサーバーの public_html フォルダにアップロードしてください

DirectoryIndex disabled
RewriteEngine On
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/
RewriteRule ^(.*)$ http://localhost:3000/$1 [P,L]
